*{
    font-family: 'Nova Square', Rajdhani;
}
body{
    padding: 0;
    margin: 0;
    background-color: #ececec;
}
.bgGrigio{
    background-color: #cecece !important;
}
li>a{
    text-decoration: none !important;
    color: gray !important;
}
.backgroundSlide{
    background-position-y: center;
    background-position-x: center;
    background-image: url(./media/switzerland-862870_1920.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    height:84vh;    
}
/* .bgsfumato{
    background: url(./media/mountains.png), url(./media/switzerland-862870_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover,contain;
    height: 100vh;
} */
.bgsfumato{
   
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 5%, rgba(255,0,0,0) 100%);
    z-index: 1;
    height: 75vh;
}
.montagnaSlide{
    top: 170px;
    position: absolute;
    
    height: 100vh;
    
}
h1{
    font-size: 60px;
    color:darkred !important;
    z-index: 2;
    letter-spacing: 20px 
}
.citazione{
    height: 500px;
}
.darkred{
    color: darkred;
    font-size: 40px;
    letter-spacing: 1px 

}
.darkredTextTeam{
    color: darkred;
    font-size: 19px;
    letter-spacing: 1px 

}
.darkredicon{
    color: darkred;
    font-size: 19px;
    letter-spacing: 10px 

}
.box{
    text-align: center;
    height: 300px;
}
.darkredhr{
    border-color: darkred !important;
    height: 100%;
    margin: 0;
    padding: 0;
}
.destra{
    text-align: right;
}
.button-box{
    text-align: center;
    width: 100%;
    height: 500px;
    background-image: url(./media/trees2.png);
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    margin-bottom: -50px;
}
button{
    border: none;
    background-color: darkred;
    color: white;
    padding: 10px 30px;
    position: relative;
    left: 0px;
    font-size: 20px;

}

/* prova */
.li-timeline{
    list-style-type:none;
    list-style-position: inherit;
    list-style-type: style size;
}
.li-item-timeline{
    left: -12px;
    background-color: white;
    width: 20px;
    height: 20px;
    border: 3px solid darkred;
    border-radius: 50%;
    z-index: 2;
}
.border-list{
    position: absolute;
    border-left: 4px solid gray;
    height: 150px;
    width: 100px;
    margin-left: 5px;
    margin-top: 15px;
    
}
.ul-timeline{
    border-left: 3px solid darkred;
    margin-left: -5px;
}
.imgteam{
    height: 150px;
    width: 150px;
    padding: 0px;
    border: 3px solid darkred;
    border-radius: 50%;
}
.imgteam>img{
    margin-top: 8px;
    height: 130px;
    width: 130px;
    border-radius: 50%;
}
.imageBenefit{

    height: 200px;
    width: 200px;
    padding: 0px;
    border: 3px solid darkred;
    border-radius: 50%;
}
.imageBenefit>img{
    margin-top: 5px;
    height: 185px;
    width: 185px;
    border-radius: 50%;
}
.prefooter-box{
    text-align: center;
    width: 100%;
    height: 500px;
    background-image: url(./media/other.png);
    background-size: contain;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    margin-bottom:0px;
}
.bgdarkred{
    background-color: darkred;
}
.card-item{
    position: relative;
    top: 17.8vh;
    left: 6vw;
    background-color: white;
    width: 20px;
    height: 20px;
    border: 2px solid darkred;
    border-radius: 50%;
    z-index: 2;
}






/* mediaqueries */

@media only screen and (max-width: 600px) {
    .prefooter-box {
        height: 200px;
        margin: 0;
    }
    .button-box {
        height: 200px;
        margin: 0px 0px -50px 0px;
    }
    .bgsfumato,.backgroundSlide{
        height: 80vh;
        width: 100%;
        margin: 0;
    }
    .backgroundSlide>h1{
        letter-spacing: 0px 

    }
    .montagnaSlide>img{
        bottom: -40vh;
        position: relative;
        align-items: end;
        width: 100%;

        
    }
    .card-item{
        display: inline-block;
        top: 20vh;
        left: -9vw;
        
    }
    body{
        margin: 0;
        padding: 0;
    }
  }