*{
    font-family: 'Nova Square', Rajdhani;
}
body{
    background-color: #ececec;
}
.bgGrigio{
    background-color: #cecece !important;
}
li>a{
    text-decoration: none !important;
    color: gray !important;
}
.backgroundSlide{
    background-position-y: center;
    background-position-x: center;
    background-image: url(./media/switzerland-862870_1920.jpg);
    background-repeat: no-repeat;
    background-size:auto;
    height:84vh;    
}
/* .bgsfumato{
    background: url(./media/mountains.png), url(./media/switzerland-862870_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover,contain;
    height: 100vh;
} */
.bgsfumato{
   
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 5%, rgba(255,0,0,0) 100%);
    z-index: 1;
    height: 80vh;
}
.montagnaSlide{
    top: 34px;
    position: absolute;
    display: flex;
    height: 80vh;
    
}
h1{
    font-size: 60px;
    color:darkred !important;
    z-index: 2;
    letter-spacing: 20px 
}
.citazione{
    height: 500px;
}
.darkred{
    color: darkred;
    font-size: 40px;
    letter-spacing: 1px 

}
.box{
    text-align: center;
    height: 300px;
}
.darkredhr{
    border-color: darkred !important;
    height: 100%;
    margin: 0;
    padding: 0;
}
.destra{
    text-align: right;
}
.button-box{
    position: relative;
height: 500px;
background-image: url(./media/trees2.png);
background-size: contain;
background-position-x: center;
background-position-y: bottom;
background-repeat: no-repeat;
margin-bottom: -50px;
}
button{
    border: none;
    background-color: darkred;
    color: white;
    padding: 10px 30px;
    position: relative;
    left: 120px;
    font-size: 20px;

}